<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <variable scope="context" name="mdcPattern" value="%replace(correlationId=%X{Correlation-Id} traceId=%X{traceId} spanId=%X{spanId} SSLClientSessionID=%X{SSLClientSessionID} userId=%X{userId} onBehalfOf=%X{onBehalfOf} clientChannel=%X{Client-Channel} callerIp=%X{callerIp} operation=%X{operation} action=%X{action} ){'[a-zA-Z]+=( |$)', ''}"/>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level ${mdcPattern}[%thread] %logger{36} - %msg %replace(%ex){'[\r\n]+', ''} %nopex %n
            </pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
        </filter>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level ${mdcPattern}[%thread] %logger{36} - %replace(%msg){'[\r\n]+', ' '} %replace(%ex){'[\r\n]+', ''} %nopex %n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter">
        <level value="DEBUG" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
    </root>
</configuration>
